html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Leto", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #CDC8C8;
    margin: 0;
}


/*
    for images,
    fixed = parallax;
    scroll = normal;
    */

.pimg1 {
    position: relative;
    background-image: url('./img/img1.jpeg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 img {
    opacity: 0.5 !important
}

.pimg2 {
    background-image: url('./img/img2.gif');
    min-height: 500px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg3 {
    background-image: url('./img/img3.jpeg');
    min-height: 560px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg4 {
    background-image: url('./img/img4.jpeg');
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg9 {
    position: relative;
    background-image: url('./img/img9.jpeg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section {
    text-align: center;
    padding: 50px 70px;
}

.section-light {
    background-color: #BEB2B2;
    color: #623A3A;
}

.section-dark {
    background-color: #2B2828;
    color: #D6C7C7;
}

.button {
    background-color: #623A3A;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #623A3A;
}

.button1:hover {
    background-color: #623A3A;
    color: white;
}

.margin {
    margin-bottom: 5px;
    color: transparent;
}

.logo {
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
}

.underText {
    font-family: 'Lucida Handwriting';
    text-shadow: black;
    text-align: center;
    font-size: 25px;
    font-weight: strong;
    color: #C41F1F;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


/*Boxes*/

#boxes {
    margin-top: 2px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 150px;
}

#faces {
    margin-top: 5px;
}

#faces .face {
    float: left;
    text-align: center;
    width: 18%;
    padding-top: 5px;
    padding-bottom: 0;
}

#faces .face img {
    width: 150px;
}

.field {
    position: relative;
    height: 60px;
    padding: 8px 0 8px 0;
}

.field-label {
    position: relative;
    margin: 0;
    display: block;
    color: #6D4949;
    line-height: 10px;
    font-size: 16px;
    font-weight: 400;
    transform: translateY(24px);
    transition: transform 0.3s, color 0.3s;
    transform-origin: 0 50%;
}

.field input#form {
    text-align: -webkit-center;
    bottom: -27px;
}
.field input#form .margin-top{
  margin-top: -10px;
}

.field-input {
    position: relative;
    display: block;
    width: 100%;
    height: 20px;
    padding: 2px 0;
    line-height: 10px;
    font-family: Roboto;
    font-size: 16px;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    outline: none;
}

.field::after,
.field::before {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: #3D2B2B;
}

.field::after {
    background-color: #7E5858;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.has-label .field-label {
    transform: translateY(0) scale(0.75);
}

.is-focused .field-label {
    color: #7E5858;
}

.field.is-focused::after {
    transform: scaleX(1);
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #232121;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    float: center;
    opacity: 0.7;
    background-color: #651212;
    color: white;
    padding: 2px;
}

.small-text {
    font-size: 8px;
    color: #651212;
    padding: 0;
}

footer {
    padding: 20px;
    margin-top: 5px;
    color: #DDB7B7;
    background-color: #7E5858;
    text-align: center;
}


/*Slideshow LightBox*/

* {
    box-sizing: border-box;
}

.row>.column {
    padding: 0 4px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}


/* The Close Button */

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.prev {
    left: 0px;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
